body {
  min-width: 768px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}

body .container {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.header-top {
  color: #000000;
  min-height: 56px;
}

.main-nav {
  position: relative;
}

.main-nav::after {
  content: "";
  display: table;
  clear: both;
}

.main-nav-left {
  width: 40%;
  float: left;
}

.main-nav-right {
  width: 40%;
  float: right;
}

.main-nav-left::after {
  content: "";
  display: table;
  clear: both;
}

.main-nav-right::after {
  content: "";
  display: table;
  clear: both;
}

.main-nav-left div {
  float: left;
  width: 50%;
  min-height: 56px;
}

.main-nav-right div {
  float: right;
  width: 50%;
  min-height: 56px;
}

.menu a {
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  display: block;
  margin: 6% 0;
  text-align: center;
  cursor: pointer;
}

.menu a:hover {
  color: #81b3d2;
}

.menu a:active {
  color: #766357;
}

.menu a:active:hover {
  color: #604e43;
}

.header-logo {
  width: 138px;
  position: absolute;
  left: 50%;
  margin-left: -69px;
  cursor: pointer;
}

.header-promo {
  width: 100%;
  height: 509px;
  background-image: url(../img/promoframe.png), url(../img/welcometosedona.png), url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: bottom, center, center;
  background-size: 100%, auto, 100%;
}

.intro {
  padding-top: 62px;
  padding-bottom: 50px;
  text-align: center;
  line-height: 26px;
  box-sizing: border-box;
}

.intro-main {
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  padding: 0 380px;
  margin-bottom: 20px;
}

.features {
  min-height: 840px;
  font-size: 0;
}

.feature {
  width: 33.333%;
  height: 256px;
  font-size: 14px;
  padding: 55px 50px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  text-align: center;
}

.feature-heading {
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 28px;
}

.feature-caption {
  margin-top: 28px;
}

.feature-blue {
  background-color: #81b3d2;
  color: #ffffff;
}

.feature-blue .feature-heading {
    color: inherit;
}

.feature-heading-truecity {
  padding: 0 70px;
}

.feature-heading-bridge {
  margin-bottom: 0;
}

.feature-caption-bridge {
  margin-left: -10px;
}

.feature-gray {
  padding-top: 50px;
  background-color: #eeeeee;
  min-height: 256px;
}

.feature-heading-square {
  padding: 0 50px;
}

.feature-caption-square {
  padding: 0 10px;
}

.feature-heading-road {
  padding: 0 70px;
}

.feature-caption-road {
  padding-left: 20px;
}

.feature-heading-tourists {
  padding: 0 80px;
}

.feature-number span {
  background-color: #eeeeee;
  position: relative;
  padding-left: 6px;
  padding-right: 6px;
  z-index: 2;
}

.feature-number-blue span {
  background-color: #81b3d2;
}

.feature-number::before {
  content: "";
  display: block;
  border-bottom: 2px solid #a8a8a8;
  position: relative;
  top: 11.5px;
  left: 50%;
  transform: translate(-1.7px);
  width: 4.2px;
  z-index: 3;
}

.feature-number-blue::before {
  border-color: #c2d9e8;
}

.feature-number::after {
  content: "";
  display: block;
  border-bottom: 2px solid #a8a8a8;
  text-align: center;
  position: relative;
  top: -11.5px;
  left: 50%;
  transform: translate(-27px);
  width: 54px;
  z-index: 1;
}

.feature-number-blue::after {
  border-color: #c2d9e8;
}

.feature-image {
  width: 66.666%;
  background-size: cover;
  background-position: center center;
}

.feature-image-hotel {
  background-image: url(../img/truecity.jpg);
}

.feature-image-bridge {
  background-image: url(../img/devilsbridge.jpg);
}

.guide {
  height: 330px;
  padding-top: 60px;
}

.guide img {
  margin-bottom: 32px;
}

.promo {
  min-height: 290px;
  position: relative;
  padding-top: 58px;
  box-sizing: border-box;
  text-align: center;
  line-height: 24px;
}

.promo-heading {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 30px;
}

.wrapper {
  width: 568px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #766357;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 7px 15px rgba(0, 1, 1, .15);
}

.hotel-search-button-text {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding: 32px;
}

.callback {
  padding: 55px;
  background-color: #ffffff;
  text-align: justify;
  box-sizing: border-box;
}

.callback-line {
  position: relative;
}

.callback-line + .callback-line {
  margin-top: 30px;
}

.callback-text-label {
  display: inline-block;
  vertical-align: middle;
  width: 25%;
  padding-right: 10px;
  font-size: 14px;
  box-sizing: border-box;
}

.callback-text-label-half {
  width: 50%;
}

.callback-text-input {
  display: inline-block;
  vertical-align: middle;
  width: 75%;
  padding-right: 45px;
  padding-left: 10px;
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
  background-color: #f2f2f2;
  font-family: inherit;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.callback-text-input:hover,
.callback-number-input:hover {
  background-color: #ebebeb;
}

.callback-text-input:focus,
.callback-number-input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.callback-half-line {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

.callback-numbers {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  position: relative;
}

.callback-number-input {
  display: block;
  width: 100%;
  padding: 0 45px;
  text-align: center;
  border: 0;
  background-color: #f2f2f2;
  font-family: inherit;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.callback-half-line:nth-child(2n) .callback-text-label-half {
  padding-left: 10px;
  text-align: center;
}

.callback-calendar {
  position: absolute;
  right: 0;
  top: 0;
}

.calendar {
  display: inline-block;
  vertical-align: middle;
  width: 38px;
  height: 100%;
  background-image: url(../img/calendar.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.calendar:hover {
  background-image: url(../img/calendarhover.png);
}

.callback-plus,
.callback-minus {
  position: absolute;
  top: 0;
  width: 38px;
  height: 38px;
  line-height: 38px;
  color: #a9a9a9;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.callback-plus:hover,
.callback-minus:hover {
  color: #000000;
}

.callback-plus {
  right: 0;
}

.callback-minus {
  left: 0;
}

.button {
  color: #ffffff;
  background-color: #81b3d2;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

.button:hover {
  background-color: #669ec0;
}

.button:focus {
  outline: none;
}

.button-block {
  display: block;
  width: 100%;
  margin-top: 55px;
  padding: 16px 20px;
  font-size: 21px;
  line-height: 26px;
  box-sizing: border-box;
  font-weight: bold;
  cursor: pointer;
}

.hotel-search-form {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}

.hotel-search-form-open {
  opacity: 1;
  visibility: visible;
  animation-name: drop;
  animation-duration: 1s;
}

@keyframes drop {
  0% {transform: translateY(0);}
  50% {transform: translateY(35px);}
}

.map {
  width: 100%;
  height: 593px;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -120px;
}

/* Начало внутренней страницы */

.criteria {
  font-size: 0;
}

.criteria-form {
  background-image: url(../img/filterbackground.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  color: #ffffff;
  padding-top: 30px;
  padding-left: 72px;
  padding-right: 72px;
  box-sizing: border-box;
}

.filter {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}

.filter-heading {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 24px;
}

.filter-price .filter-heading {
  margin-bottom: 12px;
}

input[type="checkbox"] + label {
  display: block;
  padding-left: 40px;
  margin-bottom: 24px;
  position: relative;
  z-index: 5;
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

input[type="checkbox"]:not(:checked) + label::before {
  width: 22px;
  height: 22px;
  background-position: -10px -648px;
}

input[type="checkbox"]:checked + label::before {
  width: 26px;
  height: 22px;
  background-position: -10px -136px;
}

.filter-infrustructure {
  width: 254px;
}

.filter-accomodation {
  width: 274px;
  margin-right: 200px;
}

.filter-price {
  width: 328px;
  position: relative;
}

.price-indicator {
  width: 314px;
  height: 36px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-left: 10px;
  position: relative;
  font-size: 0;
}

.price-indicator label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 38px;
  cursor: pointer;
}

.price-indicator .price {
  width: 88px;
  padding-left: 65px;
}

.price-indicator input[type="text"] {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.price-indicator::after {
  content: "";
  width: 2px;
  height: 22px;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.range-controlls {
  position: relative;
  margin-bottom: 32px;
  margin-left: 10px;
}

.scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  margin-top: 20px;
  position: relative;
  z-index: 7;
}

.scale-progress {
  height: 2px;
  background: #ffffff;
  width: 80%;
  margin-top: -2px;
}

.scroll {
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  position: absolute;
  top: -9px;
  z-index: 9;
}

.scroll:hover {
  background: #1c4f80;
}

.scroll-left {
  left: 0;
}

.scroll-right {
  left: 80%;
}

.show-button {
  display: block;
  margin: 32px auto;
  padding: 6px 35px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  font-size: 14px;
  line-height: 21px;
  font: inherit;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}

.show-button:hover {
  color: #000000;
  background-color: #ffffff;
}

.result-sorting {
  font-size: 0;
  height: 86px;
}

.result-tools {
  padding-left: 72px;
  padding-right: 72px;
}

.result-sorting-tools .result-heading,
.result-heading a {
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  padding-top: 32px;
  box-sizing: border-box;
}

.result-sorting-tools .result-heading {
  padding-right: 50px;
}

.result-sorting-tools .sorting {
  padding-right: 40px;
}

.result-sorting-tools .sorting-button {
  margin-right: 33px;
  border-bottom: 1px dotted #81b3d2;
  color: #cecece;
}

.result-sorting-tools .sorting-button:hover {
  color: #81b3d2;
}

 .prime .sorting-button {
  border-bottom: none;
}

.result-sorting-tools {
  float: left;
}

.result-sorting-tools div {
  min-height: 86px;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  padding-top: 38px;
  box-sizing: border-box;
}

.result-sorting-tools div a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.result-sorting-tools .active {
  color: #81b3d2;
}

.sorting-indicators {
  position: relative;
}

.sorting-indicators div {
  float: right;
  width: 26px;
  height: 86px;
  cursor: pointer;
}

.sorting-indicator::after {
  content: "";
  display: block;
  width: 0;
  border: 6px solid transparent;
  border-bottom: 11px solid #cccccc;
  position: absolute;
  top: 33px;
  right: 26px;
}

.sorting-indicator:nth-of-type(1)::after {
  border: 6px solid transparent;
  border-top: 11px solid #81b3d2;
  top: 39px;
  right: 0;
}

article {
  min-height: 152px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 72px;
  padding-right: 72px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
}

article:nth-child(1) {
  border-top: 1px solid #e5e5e5;
}

.result-image {
  float: left;
}

.info-booking {
  width: 258px;
  float: left;
  padding-left: 30px;
}

.info-booking .result-heading {
  margin-top: -4px;
  margin-bottom: 10px;
  cursor: pointer;
}

.result-heading a:hover {
  color: #81b3d2;
}

.result-info {
  width: 258px;
}

.result-price {
  margin-bottom: 10px;
}

.result-accomodation {
  margin-bottom: 10px;
}

.result-rating {
  width: 111px;
  float: right;
}

.result-rating::after {
  content: "";
  display: table;
  clear: both;
}

.accomodation-details {
  width: 110px;
  float: left;
}

.price-booking {
  width: 142px;
  float: right;
}

.result-button a {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

.details {
  background-color: #81b3d2;
  width: 110px;
  height: 27px;
  text-align: center;
  padding-top: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

.details:hover {
  background-color: #669ec0;
}

.booking {
  background-color: #766357;
  width: 142px;
  height: 27px;
  text-align: center;
  padding-top: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

.booking:hover {
  background-color: #604e43;
}

.rating-image {
  margin-bottom: 47px;
  height: 17px;
  background-image: url(../img/star.png);
  background-repeat: repeat-x;
  float: right;
}

.rating-image-four {
  width: 90px;
}

.rating-image-two {
  width: 45px;
}

.rating-image-three {
  width: 65px;
}

.rating-number {
  color: #666666;
  width: 111px;
  height: 27px;
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 5px;
  box-sizing: border-box;
  float: right;
}

/* Конец внутренней страницы */

.main-footer {
  font-size: 0;
  min-height: 120px;
}

.footer {
  background-image: url(../img/maplayer.png);
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  padding-left: 72px;
  padding-right: 72px;
}

.footer-block {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

.insta {
  width: 240px;
  min-height: 120px;
  margin-right: 88px;
}

.insta a {
  text-decoration: none;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  display: block;
  text-align: center;
  padding-top: 48px;
  cursor: pointer;
}

.social {
  width: 400px;
  min-height: 120px;
  text-align: center;
  margin-right: 88px;
  padding-top: 36px;
  box-sizing: border-box;
}

.button-social {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  position: relative;
  cursor: pointer;
}

.button-social:hover {
  background-color: #669ec0;
}

.button-social::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
}

.button-social-tw::before {
  width: 17px;
  height: 15px;
  background-position: -10px -769px;
}

.button-social-fb::before {
  width: 10px;
  height: 19px;
  background-position: -10px -220px;
}

.button-social-yt::before {
  width: 20px;
  height: 16px;
  background-position: -10px -804px;
}

.button-social-tw {
  margin-right: 6px;
}

.button-social-fb {
  margin-right: 6px;
}

.developers {
  width: 240px;
  min-height: 120px;
  cursor: pointer;
  text-align: center;
  padding-top: 40px;
  box-sizing: border-box;
}

.dev {
  display: inline-block;
  vertical-align: middle;
}

.dev-ref {
  line-height: 26px;
  color: #000000;
  cursor: pointer;
}

.dev-logo {
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  width: 113px;
  height: 39px;
  background-position: -10px -378px;
}

.dev-logo:hover {
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  width: 113px;
  height: 39px;
  background-position: -10px -496px;
}

/*Спрайты*/

.sprite {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-calendar {
    width: 21px;
    height: 22px;
    background-position: -10px -10px;
}

.sprite-calendardown {
    width: 21px;
    height: 22px;
    background-position: -10px -52px;
}

.sprite-calendarhover {
    width: 21px;
    height: 22px;
    background-position: -10px -94px;
}

.sprite-checked {
    width: 26px;
    height: 22px;
    background-position: -10px -136px;
}

.sprite-checkeddis {
    width: 26px;
    height: 22px;
    background-position: -10px -178px;
}

.sprite-facebook {
    width: 10px;
    height: 19px;
    background-position: -10px -220px;
}

.sprite-fingerpoint {
    width: 25px;
    height: 30px;
    background-position: -10px -259px;
}

.sprite-less {
    width: 12px;
    height: 3px;
    background-position: -10px -309px;
}

.sprite-lessdown {
    width: 12px;
    height: 3px;
    background-position: -10px -332px;
}

.sprite-lesshover {
    width: 12px;
    height: 3px;
    background-position: -10px -355px;
}

.sprite-logo {
    width: 113px;
    height: 39px;
    background-position: -10px -378px;
}

.sprite-logodown {
    width: 113px;
    height: 39px;
    background-position: -10px -437px;
}

.sprite-logohover {
    width: 113px;
    height: 39px;
    background-position: -10px -496px;
}

.sprite-more {
    width: 11px;
    height: 11px;
    background-position: -10px -555px;
}

.sprite-moredown {
    width: 11px;
    height: 11px;
    background-position: -10px -586px;
}

.sprite-morehover {
    width: 11px;
    height: 11px;
    background-position: -10px -617px;
}

.sprite-notchecked {
    width: 22px;
    height: 22px;
    background-position: -10px -648px;
}

.sprite-notcheckeddis {
    width: 22px;
    height: 22px;
    background-position: -10px -690px;
}

.sprite-star {
    width: 18px;
    height: 17px;
    background-position: -10px -732px;
}

.sprite-twitter {
    width: 17px;
    height: 15px;
    background-position: -10px -769px;
}

.sprite-youtube {
    width: 20px;
    height: 16px;
    background-position: -10px -804px;
}
